.game-wrap {
    // width: 1024px;
    padding-top: 40px;
    padding-bottom: 40px;
    .left {
        p {
            font-family: "Rigid Square Regular", sans-serif;
            font-size: 18px;
          }
    }
    .nav-wrap {
      margin-top: 20px;
      width: 160px;
    }
    .nav-item {
      display: flex;
      padding-bottom: 20px;
      cursor: pointer;

      &:hover {
        color: rgba(52,109,219,1.00); // 鼠标悬停时的样式
      }

      .nav-item-title {
          padding-left: 20px;
      }
    }

    .header {
      width: 1024px;
      margin: 0 auto;
      h6 {
        font-family: 'Zen Dots',display;
        font-size: 1rem
      }
      h1 {
        margin-top: 20px;
        font-size: 6.25rem
      }
    }

    .game-item {
      position: relative;
      overflow: hidden;
      height: 708px;
      width: 100vw;
      margin-top: 20px;

      .game-text-wrap {
        position: absolute;
        background-color: #293545;
        padding: 10% 25% 11% 8%;
        width: 60%;

        h2 {
          font-size: 3rem;
        }

        .game-text-content {
          margin-top: 20px;
          line-height: 2;
        }
      }

      .game-text-wrap1 {
        top: 20px;
        left: 0px;
      }

      .game-img-wrap {
        position: absolute;
        height: 600px;
        img {
          scale: 0.9;
        }
      }

      .game-img-wrap1 {
        top: 90px;
        right: 20px;
      }

      .game-img-wrap2 {
        left: 0px !important;
      }

      .game-text-wrap2 {
        right: 0px !important;
      }

      .introduce {
        margin-top: 20px;

        .value {
          cursor: pointer;
          margin-left: 10px;
          color: #babec3;

        }
        .value:hover {
          color: #fff;
        }
      }
    }
}

.game-content {
    padding-left: 40px;
  h4 {
    font-family: "Rigid Square Regular", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  } 
  p {
    color: rgba(136,153,168,1.00);
    margin-top: 20px;
    font-size: 20px;
  }
  .game-text {
    margin-top: 20px;
    font-size: 16px;
  }
  img {
    padding-top: 30px;
    margin: 0 auto;
  }
}