
.top-nav {
  padding-top: 10px;
}

.welcome {
  display: flex;
  /* padding: 40px 100px 0 100px; */
  padding: 40px 7% 0 7%;
  align-items: center;
}
@media screen and (max-width: 768px) {
  
  .width-large {
    width: 75%;
  }
}

@media screen and (max-width: 640px) {
  .welcome {
    flex-direction: column;
  }
  .welcome2 {
    flex-direction: column-reverse;
  }
  .width-large {
    width: 75%;
  }
  .game-list {
    flex-direction: column;
  }
}

.welcome-title {
  flex:1;
  // font-size: 60px;
  // line-height: 60px;
  font-size: 2rem;
  line-height: (60/1400)vw;
}

.welcome-content {
  margin-top: (20/1400)vw;
  line-height: 30px;
  font-size: (20/1400)vw;
  color: rgb(191, 199, 212);
}

.welcome-left {
  /* padding-top: 150px; */
}

.game-list {
  display: flex;
  margin-top: 20px;
}

.game-list-item {
  margin-right: 1rem;
  cursor: pointer;
}

.game-list-item span {
  font-size: 1vw;
}

.game-list-item-icon {
  margin-right: 10px;
}

.welcome-rwa {
  margin-bottom: 80px;
}
